.selection-toolbar-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 24px;
  border-radius: 4px;
  height: 44px;
  background-color: #F8F8F8;
  margin-bottom: 24px !important;
  border: 1px solid #E4E5E6;
  box-sizing: border-box;
  white-space: nowrap;
  overflow: hidden;
}

.toolbar-actions {
  display: flex;
  align-items: center;
  height: 100%;
}

.selected-info-text,
.select-all {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.toolbar-actions button {
  height: 100%;
  margin-left: 10px;
  box-sizing: border-box;
}

.select-all {
  color: #005758;
  cursor: pointer;
  opacity: 1;
  text-decoration: none;
  font-family: Arial;
  font-weight: 400;
  font-style: Regular;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0%;
}

.selected-info-text {
  opacity: 1;
  font-family: Arial;
  font-weight: 700;
  font-style: Bold;
  font-size: 14px;
  line-height: 150%;
  letter-spacing: 0%;
  color: #75716E;
  margin-left: 12px;
}