.chosen-container {
    width: 120px !important;
}

.bootstrap3-scope{
    width: 98%;
    height: 100vh;

}
.chosen-container {
    width: 120px !important;
}
.billingController{
    margin-left: 20px;
}
.htmlcontainer{
    height:750px;
}

