<ng-template>
    <div class="masthead-holder">
        <div class="masthead-border"></div>
        <div class="masthead-container">
            <ng-container *ngFor="let category of categories">
                <div class="section-container" *ngIf="category != enumCategory.General && checkCategoryAvailability(category)"> <!--We do not want this section title for general category-->
                    <div class="section-title">{{category | uppercase}}</div>
                    <div class="section-divider"></div>
                </div>
                <div class="masthead-items-container">
                    <ng-container *ngFor="let config of configList">
                        <div class="masthead-item" [ngClass]="{'active': isActiveRoute(config)}" *ngIf="config.isEnabled && config.category === category" (click)="onClickHandler(config)">
                            <div class="item-img">
                                <img [src]="config.iconURL" [alt]="config.title">
                            </div>
                            <div class="item-title">
                                {{config.title}}
                            </div>
                            <div class="item-active-img" *ngIf="isActiveRoute(config)">
                                <img src="/assets/tick_dropdown_icon_24_24.svg" alt="Active">
                            </div>
                        </div>
                    </ng-container>
                </div>
            </ng-container>
        </div>
    </div>
</ng-template>