mat-toolbar {
    display: flex;
    align-items: center;
}

.spacer {
    flex: 1 1 auto;
}

.pagination-controls {
    display: flex;
    align-items: center;
}

.pagination-controls span {
    margin: 0 8px;
    font-weight: 400;
    font-style: Regular;
    font-size: 14px;
    line-height: 150%;
    letter-spacing: 0%;
    color: #262626;

}