<div class="ppc-card" [ngClass]="{'ppc-cursor-pointer': _isActive}" (click)="navigate()">
    <div>
        <img [src]="_headerImgSrc" alt="SKUs bulk upload" class="ppc-card-header-img">
        <span class="ppc-card-coming-soon-text" *ngIf="!_isActive">{{_comingSoonText}}</span>
    </div>
    <mat-divider class="ppc-card-divider"></mat-divider>
    <div class="ppc-card-content-wrapper">
        <div class="ppc-card-content-header">
            {{_contentHeader}}
        </div>
        <div class="ppc-card-content-desc">
            {{_contentDesc}}
        </div>
        <div class="ppc-card-action-wrapper-animate" (click)="navigate()" *ngIf="_isActive">
            <span class="ppc-card-action-text">{{_actionText}}</span>
            <img [src]="_actionImgSrc" alt="proceed-arrow" class="ppc-card-action-arrow">
        </div>
        <div *ngIf="!_isActive">
            <img [src]="_actionImgSrc" alt="proceed-arrow">
        </div>
    </div>
</div>