<div class="ppc-card" [ngClass]="{'ppc-cursor-pointer': isActive}" (click)="navigate()" (keydown.enter)="navigate()"
    (keydown.space)="navigate(); $event.preventDefault()" [attr.role]="isActive ? 'button' : null"
    [attr.tabindex]="isActive ? 0 : -1" [attr.aria-disabled]="!isActive ? 'true' : null">
    <div>
        <img [src]="headerImgSrc" alt="SKUs bulk upload" class="ppc-card-header-img">
        <span class="ppc-card-coming-soon-text" *ngIf="!isActive">{{comingSoonText}}</span>
    </div>
    <mat-divider class="ppc-card-divider"></mat-divider>
    <div class="ppc-card-content-wrapper">
        <div class="ppc-card-content-header">
            {{contentHeader}}
        </div>
        <div class="ppc-card-content-desc">
            {{contentDesc}}
        </div>
        <div class="ppc-card-action-wrapper ppc-card-action-wrapper-animate" *ngIf="isActive">
            <span class="ppc-card-action-text">{{actionText}}</span>
            <img [src]="actionImgSrc" alt="proceed-arrow" class="ppc-card-action-arrow">
        </div>
        <div class="ppc-card-action-wrapper" *ngIf="!isActive">
            <img [src]="actionImgSrc" alt="proceed-arrow">
        </div>
    </div>
</div>