.action-bar-container {
    width: 100%;
    background-color: #F8F8F8;
}
.text-bar-container {
    padding: 8px 12px;
    border: 1px solid #E4E5E6;
    height: 44px;
    flex: 1 1 auto;
    min-width: 0;
}

.title-text {
    color: #75716E;
    font-weight: 700;
    font-size: 14px;
    line-height: 150%;
}

.text-container {
    gap: 8px;
}

.actions-btn-container {
    flex: 0 0 auto;  
    border-top: 1px solid #E4E5E6;
    border-bottom: 1px solid #E4E5E6;
    border-right: 1px solid #E4E5E6;
}

.action-btn {
    padding: 8px 12px;
    gap: 8px;
    outline: none;
    background-color: transparent;   
    border: none;
    flex: 1 1 auto;
    color: #75716E;
    font-size: 14px;
    font-weight: 400;
    line-height: 150%;
    cursor: pointer;
}

.actions-btn-container  .action-btn:not(:first-child) {
    border-left: 1px solid #E4E5E6;
}

.action-btn:hover {
    background-color: #E4E5E6;
}