.checkbox-container {
    width: 100%;
    display: flex; 
    flex-direction: column;   
    gap: 100%;
}

.description {
    width: 100%;
    padding: 0px 32px;
    color: #262626;
    font-size: 12px;
    font-weight: 400;
    line-height: 150%;
}