.filter-container {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.title-container {
    height: 42px;
    font-size: 14px;
    font-weight: 400;
    line-height: 21px;
    color: #000000;
    width: 100%;
}

.min-container, .max-container {
    display: flex;
    flex-direction: column;
    gap: 8px;  
    width: 100%;  
}

.min-holder, .max-holder {
    height: 44px;
}

.min-title, .max-title {
    height: 21px;
    font-weight: 400;
    font-size: 14px;
    line-height: 21px;
    color: #1E1E1E;
    width: 100%;
}

.validation-error {
    height: 18px;
    font-weight: 400;
    font-size: 12px;
    line-height: 18px;
    color: #CD163F;
    width: 100%;
}

.input-wrapper {   
    border-radius: 4px;
    padding: 10px 16px;
    width: 100%;
    height: 44px;
    border: 1px solid #E4E5E6;
    background-color: #F8F8F8;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.input-wrapper-active, .input-wrapper:hover {
    border: 1px solid #005758 !important;
}

.input-wrapper-warning, .input-wrapper-warning:hover {
    border: 1px solid #CD163F !important;
}

.input-container {
    height: 24px;
    width: 100%;
} 

.input-field {
    border: none;
    outline: none;
    background-color: #F8F8F8;
    width: 100%;
}

.clear-btn-holder {
    height: 24px;
    width: 24px;
    align-items: center;
    border: none;
    outline: none;
    background-color: transparent;
}

.clear-btn-holder:hover, .clear-btn-holder:focus {
    img {
        content: url('/assets/dismiss_btn_hover_red_24_24.svg');
    }
}

/* To remove the spinner in the default html input type of numeric */
/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
  appearance: textfield;
}