.dialog-header {
    display: flex;
    justify-content: flex-end; 
    padding: 10px;
}
.dialog-content {
    text-align: center;
}
.ppc-confirm-dialog-dismiss-btn {
    width: 40px;
    height: 40px;
    border: none;
    outline: none;
    border-color: transparent !important;
    background-color: transparent !important;
    background-image: url('/assets/dismiss-dialog.svg');
    background-repeat: no-repeat;
    transition: background-image 1s ease-in-out;
}
.ppc-confirm-dialog-dismiss-btn:hover {
    background-image: url('/assets/dismiss-dialog_hover.svg');
}