.status-bar-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    gap: 20px;
    border-radius: 0px 4px 4px 0px;
    padding: 20px;
}
.status-bar-content {
    font-weight: 400;
    line-height: 24px;
    font-size: 16px;
    width: 95%;
}
.status-bar-dismiss-btn {
    outline: none;
    border: none;
    background-color: transparent;
}