<div class="logout-page">
    <div class="logout-container">
        <div class="logout-img">
            <img src="/assets/logout_display_img.svg" alt="Logout">
        </div>
        <div class="logout-txt-container" *ngIf="isLoggedOut">
            <div class="title-holder">
                <div class="title">
                    <span>Hello {{firstName | titlecase}},</span>
                </div>
                <div>
                    <span>{{logoutContent}}</span>
                </div>
            </div>
            <div class="link-holder">
                <div class="logout-link">
                    <span>{{microsoftLogoutTxt}}&nbsp;<a class="logout-txt-link" [href]="logoutLink" target="_self">Click here</a></span>
                </div>
                <div class="login-link">
                    <span>{{loginAgainTxt}}&nbsp;<a class="logout-txt-link" target="_self" [routerLink]="landingPageLink">Click here</a></span>
                </div>
            </div>
        </div>
    </div>
</div>