.details-card-container {    
    width: 100%;
    height: 100%;
    padding: 12px;
    gap: 24px;
    background-color: #FCFCFC;
    border: 1px solid #E4E5E6;
    border-radius: 8px;
    box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.25);
}

.details-card-container:hover {
  border: 1px solid #005758;
}

.header-container {
    height: 48px;
    width: 100%;
}

.header-action-holder {
    height: 48px;
    gap: 8px;
}

.divider {
    width: 0px;
    height: 24px;
    border-left: 1px solid #E4E5E6;
}

.table-container {
    height: calc(100vh - 555px);
}