.breadcrumb-container {
    display: flex;
    flex-direction: row;    
    align-items: center;
    gap: 8px;
    height: 27px;    
}
.item {
    border: none;
    outline: none;
    background-color: transparent;
    padding: 0px !important;
    cursor: default;
    color: #75716E;
    font-size: 18px;
    font-weight: 400;
    line-height: 150%;    
}

.last-item {
    font-weight: 700 !important;
    color: #262626 !important;
}