.header-container {
    width: 100%;
    height: 68px;
    padding: 22px 24px;
    background-color: #FCFCFC;
    border-bottom: 1px solid #D9D8D7;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-container>div {
    flex: 0 1 auto;
}

.logo-container {
    display: flex;
    gap: 12px;
    height: 24px;
    align-items: center;
}

.logo-divider {
    height: 16px;
    border-left: 1px solid #E4E5E6;
}

.tdsynx-logo-wrapper {
    display: flex;
    gap: 6px;
}

.tdsynx-logo img {
    transition: transform 0.5s ease;
}

.tdsynx-logo:hover img {
    transform: rotate(360deg);
    cursor: pointer;
}

.disable-logo-transition {
    transition: none;
    pointer-events: none;
}

.disable-logo-transition:hover img {
    transform: none;
    cursor: default;
}

.dropdown-wrapper {
    display: flex;
    gap: 12px;
}

.dropdown-wrapper>div {
    flex: 0 1 auto;
}

.dropdown-txt {
    font-size: 16px;
    font-weight: 700;
    line-height: 24px;
    color: #005758;
}

.dropdown-arrow-btn {
    transition: transform 0.3s ease;
}

.dropdown-arrow-btn:hover,
.dropdown-wrapper:hover {
    cursor: pointer;
}

.dropdown-arrow-btn:hover img {
    content: url('/assets/down_arrow_dropdown_btn_hover_24_24.svg');
}

.dropdown-arrow-btn.rotated img {
    transform: rotate(180deg);
}

.dropdown-arrow-btn.rotated:hover img {
    content: url('/assets/down_arrow_dropdown_btn_hover_24_24.svg');
    transform: rotate(180deg);
}

.widget-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 24px;
    height: 44px;
}

.widget-icon-holder {
    height: 44px;
}

.username-container {
    display: flex;
    gap: 8px;
    align-items: center;
}

.username-container>div {
    flex: 0 1 auto;
}

.username-icon:hover {
    cursor: pointer;
}

.username-txt {
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    color: #262626;
}

.ai-icon:hover img {
    content: url('/assets/ai_icon_hover_44_44.svg');
}

.ai-icon-button {
    border: none;
    outline: none;
    padding: 0px;
    background: none;
}