.ppc-error-container {
    width: 100%;
    height: 36px;
    border-radius: 6px;    
    background-color: #FBECF0;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 16px;    
}

.ppc-error-alert-img {
    width: 24px;
    height: 24px;
}

.ppc-error-desc {
    font-weight: 400;
    font-size: 14px;
    line-height: 21px;
}