.search-bar-container {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  height: 44px;
}

.search-input input {
  width: 400px;
  height: 44px;
  padding: 8px;
  gap: 10px;
  border-width: 1px;
}

.action-buttons {
  display: flex;
  gap: 10px;
}

.action-text {
  font-weight: 700;
  font-style: Bold;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0%;
  text-align: center;
  vertical-align: middle;
  color: #005758;
  padding-right: 10px;
  text-decoration: auto;

}