:host {
    display: block;
    width: 100%;
    height: 100%;
}

.panel-container {
    background-color: #FFFFFF;
    box-shadow: -4px 0 10px rgba(0, 0, 0, 0.1);
    border: 1px solid #D9D8D7;
    height: calc(100vh - 68px);
}

.panel-header {
    height: 56px;
    border-bottom: 1px solid #E4E5E6;
}

.panel-content-container {
    flex: 1 1 auto;
    min-height: 0;
    overflow: hidden;
}

.table-container {
    flex: 1 1 auto;
    min-height: 0;
    overflow: auto;
}

.paginator-container {
    flex: 0 0 auto;
}

.panel-footer {
    margin-top: auto;
    flex-shrink: 0;
    height: 76px;
    border: 1px solid #E4E5E6;    
}