<div *ngIf="threadData && !editThread">
    <div 
        class="thread-wrapper d-flex align-items-center justify-content-between" 
        [ngClass]="{'active': menuClicked}" 
        [matTooltip]="threadData.summary" 
        [matTooltipPosition]="'above'"        
        (click) = "threadClickHandler()"
        (keydown.enter) = "threadClickHandler()"
        (keydown.space) = "threadClickHandler()"
    >
        {{getFirstThreeWords(threadData.summary)}}
        <div class="more-icon">
            <app-s1-menu 
                [inputData]="menuData" 
                (menuClosed)="menuClosedHandler($event)" 
                (menuOpened)="menuOpenedHandler($event)" 
                (actionEmitter)="menuClickHandler($event)"
            ></app-s1-menu>        
        </div>
    </div>
    <mat-progress-bar *ngIf="showLoader" mode="indeterminate"></mat-progress-bar>
</div>
<div class="thread-wrapper d-flex align-item-center edit-mode" *ngIf="editThread">
    <input type="text" [(ngModel)]="threadSummary" (blur)="renameThread()" (keydown)="checkForEnter($event)" class="input-field" autofocus>
    <mat-progress-bar *ngIf="showLoader" mode="indeterminate"></mat-progress-bar>
</div>