<div class="filter-container">
  <div class="date-range-container">
    <span class="date-range text">Date Range</span>
    <div class="date-range-picker-holder">
      <ng-container #datefilter></ng-container>
    </div>
  </div>
  <div class="filter-btn-container">
    <div class="selected-filters" *ngIf="hasActiveFilters()">

      <app-filterbutton [buttonConfigs]="resetButtonConfig" (buttonClicked)="onResetAllTabs()">
      </app-filterbutton>

      <ng-container *ngFor="let tab of tabs">

        <ng-container *ngIf="appliedTabCounts[tab] > 0">
          <app-filterbutton [buttonConfigs]="tabButtonConfig[tab]" (buttonClicked)="redirecttoTabs($event)"
            (clearTab)="onClearTab($event)">
          </app-filterbutton>

        </ng-container>
      </ng-container>
    </div>

    <button (click)="isFilterOpen = true" class="btn secondary">Add Filters</button>

    <app-side-panel [isOpen]="isFilterOpen" (closepanel)="isFilterOpen = false" [headername]="headername">

      <app-filterbutton class="filterbutton" panel-tabs [tabCounts]="tabCounts"
        [buttonConfigs]="filterPanelButtonConfig" (buttonClicked)="filterButtonChange($event)"
        (clearTab)="onClearTab($event)">
      </app-filterbutton>

      <div panel-content>
        <div class="input-wrapper">
          <img class="input-icon" src="/assets/search.svg" alt="Search">
          <div class="input-container">
            <input type="text" class="input-field" [placeholder]="searchPlaceholder" [(ngModel)]="searchText"
              (input)="onSearchChange()" />
          </div>
        </div>

        <div>
          <!-- Country Tab: Render each group separately with dividers -->
          <ng-container *ngIf="activeTab === 'Country'">

            <ng-container *ngFor="let group of filteredCheckboxList; trackBy: trackByGroupId; let last = last">
              <app-host-checkbox [checkboxesValue]="[group]" [checkboxType]="'groupcheckbox'"
                (checkboxesChange)="onCheckboxChange($event)">
              </app-host-checkbox>
              <div *ngIf="!last" class="group-divider"></div>
            </ng-container>


          </ng-container>




          <!-- Other Tabs: Render single checkbox list -->
          <ng-container *ngIf="activeTab !== 'Country'">
            <app-host-checkbox [checkboxesValue]="filteredCheckboxList" [checkboxType]="'checkbox'"
              (checkboxesChange)="onCheckboxChange($event)">
            </app-host-checkbox>
          </ng-container>
        </div>


      </div>
      <div panel-footer class="filter-footer">
        <button class="btn secondary resetbtn" [disabled]="!canResetFilters()" (click)="onResetAllTabs()">
          Reset All
        </button>

        <button class="btn primary applybtn" [disabled]="!canApplyFilters()" (click)="onApplyFilters()">
          Apply
        </button>

      </div>
    </app-side-panel>
  </div>
</div>